
h1{
  font-size: 50px;
  margin-bottom: 5px;
}

h2{
  font-size: 30px;
  margin-top: 5px;
  margin-bottom: 10px;
}
.output{
  padding-left: 11%;
}
.title {
  text-align: center;
  padding-top: 3%;
}
input{
  accent-color: #5A7370;
  padding-left: 11%;
}
#free{
  background-color: #808080;
}
.questions{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex;
  padding-left: 10%;
  padding-right: 10%;
  transition: 2s ease;
}
body{
  background-color: whitesmoke;
}
fieldset{
  width: 24.5%;
  height: 10%;
  box-sizing: border-box;
  margin-bottom: 10px;
  background-color: #ffffff;
  border: 10;
  border-radius: 30px;
  box-shadow: 4px 4px;
}
.collapsible{
  text-align: center;
}
.checkboxes{
  text-align: left;
  transition: 2s ease;
}

fieldset.collapsible .checkboxes {
  display: none; 
}

fieldset.collapsible.active .checkboxes {
  display: block; 
}

h3 {
  cursor: pointer; 
  margin-top: 10px;
}
#counter{
  
  color: red;
}
#countercontainer{
  margin: auto;
  align-self: center;
  text-align: center;
  max-width: fit-content;
}
