body{
    text-align: center;
    align-items: center;
    background-color: rgb(71, 93, 128);
}
hr{
    color: red;
    background-color: red;
}
.box{
    height: 25px;
    width: 25px;
    display: grid;
}
.box1{
    background-color: rgb(81, 183, 119);
}
.box2{
    background-color: rgb(28, 127, 133);
}
