strong{
    color: red;
}
body{
    text-align: center;
    align-items: center;
    background-color: rgb(71, 93, 128);
}
hr{
    color: red;
    background-color: red;
}
.box{
    height: 50px;
    width: 50px;
    transition: .3s ease;
}
.box1{
    background-color: rgb(81, 183, 119);
}
.box2{
    background-color: rgb(28, 127, 133);
}
.box:hover{
    background-color: rgb(255, 166, 0);
}
