body{
    background-color: black;
    color: white;
    text-align: center;
    font-family: "Archivo Black", serif;
    overflow: hidden;
}
.fallingletters{
    position: absolute;
    top: 0%;
    left: 50%;
    animation: fall 2s linear infinite;
    color: green;
}
.fallingletters:hover{
    animation-play-state: paused;
}

@keyframes fall {
    0%{
        top: 0%;
    }
    100%{
        top: 200%;
    }
}
