#crainberrys{
    background-color: #a84e3e;
    padding: 10px;
    width: calc(70% - 20px);
}
body{
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #f2aa7d;
    text-align: center;
}
a{
    display: block;
    color: #d86c31;
    text-decoration: none;
    padding-bottom: 20px;
}
#test{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: blue;
    bottom: 0;
    left: 0%;
}
div{
    align-self: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
    align-self: center;
    display: flex;
    flex-direction: column;
    max-width: fit-content;
     margin-left: auto;
    margin-right: auto;
}
th{
    border: 1px solid;
}
td{
    border: 1px solid;
}
table{
    border-collapse: collapse;
    
}
#recipe{
    background-color: whitesmoke;
}
#olcontainer{
    text-align: left;
    align-self: center;
    display: flex;
    background-color: #f2aa7d;
    background-size: cover; 
    background-position: bottom; 
    background-image:  url('picture/postit.png');
    min-width:auto;
    font-family: 'Schoolbell', arial, serif; 
}
#steps2{
    margin-top: 10px;
    text-align: left;
    align-self: center;
    display: flex;
    background-color: rgb(0, 0, 0);
    font-family: "Kalnia Glaze", serif;
}
pre{
    display: inline;
}
