#crainberrys{
    background-color: #a84e3e;
    padding: 10px;
    width: calc(70% - 20px);
}
body{
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #f2aa7d;
    text-align: center;
}
a{
    display: block;
    color: #d86c31;
    text-decoration: none;
    padding-bottom: 20px;
}
#test{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: blue;
    bottom: 0;
    left: 0%;
}
div{
    align-self: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
}
th{
    border: 1px solid;
}
td{
    border: 1px solid;
}
table{
    border-collapse: collapse;
    margin: auto;
}